{% extends "base_generic.html" %}

{% block content %}
  <h1> Автор </h1>

  <p><strong>Last name:</strong> {{ author.last_name }}</p>
  <p><strong>First name:</strong> {{ author.first_name }}</p>
  <p><strong>Date of birth:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Date of death:</strong> {{ author.date_of_death }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for book in author.book_set.all %}
    <hr>
    <p><strong><a href="{% url 'book-detail' book.pk %}">{{ book }}</a></strong></p>
    <p class="text-muted"><strong>Language:</strong> {{ book.language }}</p>
    <p class="text-muted"><strong>Description:</strong> {{ book.summary }}</p>
    {% endfor %}
  </div>
{% endblock %}